-action_params = request.query_parameters.reject { |k, v| k == "search_for" }
/=binding.pry
=form_tag(url_for(action_params), {method: :post, id: "search-form"} ) do
	=hidden_field_tag(:sort_by, params[:sort_by])
	=text_field_tag :search_for, params[:search_for], :placeholder => "Search"
	%button#submit-search{:type => "submit"}Find
	%button#clear-search{onclick: "clear_search();"} Clear
