-action_params = request.query_parameters.reject { |k, v| k == "sort_by" }
=form_tag(action_params, :method => :post) do
	= hidden_field_tag(:search_for, params[:search_for])
	= label_tag :sort_by
	= select_tag :sort_by, options_for_select(opts ||= @sort_dropdown_opts, params[:sort_by]), :onchange => "submit();"